<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccff.spring.mapper.RoleMapper">

	<insert id="insertRole" parameterType="Role" useGeneratedKeys="true" keyProperty="id">
		insert into t_role(roleName, roleNote) values (#{roleName}, #{roleNote})
		<selectKey resultType="long" keyProperty="id" order="AFTER">
			select @@identity
		</selectKey>
	</insert>

	<delete id="deleteRole" parameterType="long">
		delete from t_role where id=#{id}
	</delete>

	<select id="getRoleById" parameterType="long" resultType="Role">
		select id, roleName, roleNote from t_role where id = #{id}
	</select>

	<update id="updateRole" parameterType="Role">
		update t_role
		set roleName = #{roleName},
		roleName = #{roleName}
		where id = #{id}
	</update>
</mapper>