<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccff.spring.concept.dao.IPurchaseRecordDao">

    <!--根据购买记录id获取购买该产品的数量-->
    <select id="getPurchaseRecord" resultType="PurchaseRecord">
        select * from purchase_record where recordId = #{recordId}
    </select>

    <!--添加购买该产品的数量-->
    <insert id="addPurchaseRecord" parameterType="PurchaseRecord">
        insert into purchase_record (recordId,customerId,productId,quantity) values (#{recordId},#{customerId},#{productId},#{quantity})
        <selectKey resultType="int" keyProperty="recordId" order="AFTER">
            select @@identity
        </selectKey>
    </insert>

</mapper>